image: node:20-slim

# Configuration du cache pour npm
variables:
  GIT_STRATEGY: clone # Force un clone complet pour éviter les erreurs de "remote ref"
  GIT_DEPTH: 0

cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .next/cache/

stages:
  - install
  - verify
  - test
  - build
  - deploy

# Étape 1 : Installation des dépendances
install:
  stage: install
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules/

# Étape 2 : Vérification de la qualité du code (Linting)
lint:
  stage: verify
  script:
    - npm run lint
  dependencies:
    - install


# Étape 2.5 : Tests unitaires
test:
  stage: test
  script:
    - npm run test
  dependencies:
    - install

# Étape 3 : Build de l'application (Vérifie que la compilation réussit)
build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - .next/
      - public/
    expire_in: 1 week
  dependencies:
    - install

# Étape 4 : Déploiement sur Vercel
deploy_production:
  stage: deploy
  script:
    - npx vercel deploy --prod --token=$VERCEL_TOKEN --scope=$VERCEL_ORG_ID --project=$VERCEL_PROJECT_ID --yes
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"
  dependencies:
    - build
