image: node:20-slim

# Configuration du cache pour pnpm
variables:
  PNPM_CACHE_DIR: .pnpm-store
  GIT_STRATEGY: clone # Force un clone complet pour éviter les erreurs de "remote ref"
  GIT_DEPTH: 0

cache:
  key:
    files:
      - pnpm-lock.yaml
  paths:
    - .pnpm-store
    - node_modules/
    - .next/cache/

stages:
  - install
  - verify
  - test
  - build
  - deploy

# Étape 1 : Installation des dépendances
install:
  stage: install
  script:
    - corepack enable
    - corepack prepare pnpm@latest --activate
    - pnpm config set store-dir $PNPM_CACHE_DIR
    - pnpm install --frozen-lockfile
  artifacts:
    paths:
      - node_modules/

# Étape 2 : Vérification de la qualité du code (Linting)
lint:
  stage: verify
  script:
    - corepack enable
    - corepack prepare pnpm@latest --activate
    - pnpm lint
  dependencies:
    - install
  allow_failure: true


# Étape 2.5 : Tests unitaires
test:
  stage: test
  script:
    - corepack enable
    - corepack prepare pnpm@latest --activate
    - pnpm test
  dependencies:
    - install
  allow_failure: true

# Étape 3 : Build de l'application (Vérifie que la compilation réussit)
build:
  stage: build
  script:
    - corepack enable
    - corepack prepare pnpm@latest --activate
    - pnpm build
  artifacts:
    paths:
      - .next/
      - public/
    expire_in: 1 week
  dependencies:
    - install

# Étape 4 : Déploiement sur Vercel
deploy_production:
  stage: deploy
  script:
    - corepack enable
    - corepack prepare pnpm@latest --activate
    - pnpm dlx vercel deploy --prod --token=$VERCEL_TOKEN --scope=$VERCEL_ORG_ID --project=$VERCEL_PROJECT_ID --yes
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"
  dependencies:
    - build
